body {
	margin: 0;
	padding: 0;
	
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	-webkit-clip-path: inset(100%);

	        clip-path: inset(100%);
 	clip: rect(0 0 0 0);
 	overflow: hidden;
}

.main-container {
	position: relative;
	
	width: 1200px;
	margin: 0 auto;
	padding: 0;
	
	-webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
	
	        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2); 
}

.main-container-index {
	background-color: #ffffff;
	background-image: url("../img/main-photo.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100%;
}



.index {
	margin-bottom: 569px;
}

.header-nav {
	color: #000000;

	background: #ffffff;
}

.header-nav img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}


.main-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	margin: 0 6%;
	padding: 0;

	list-style: none;
}

.main-menu li {
	width: 20%;
	padding: 15px 0;
}

.main-menu .text-left {
	text-align: left;
}

.main-menu .text-right {
	text-align: right;
}

.main-menu li:nth-child(2) {
	margin-right: 119px;
}

.main-menu a {
	color: #000000;
}

.main-menu a:hover,
.main-menu a:focus {
	color: #81b3d2;
}

.main-menu a:active {
	opacity: 0.3;
}

.main-menu a:not([href]) {
	color: #766357;
}

.welcome-text {
	max-width: 576px;
	margin: 0 auto;
	margin-bottom: 51px;

	text-align: center;
}

.welcome-text p {
	font-size: 21px;
	line-height: 26px;
	margin: 0;
	margin-bottom: 27px;

}

.welcome-text span {
	font-weight: normal;
}

.feature {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	color: #ffffff;
	background-color: #81b3d2;
}

.feature img {
	widht: 800px;
	height: 256px;
}

.feature-description {
	max-width: 300px;
	margin: 0 auto;
	padding-top: 47px;
}


.feature-description h2,
.advice-list h3,
.features-item h3 {
	max-width: 160px;
	margin: 0 auto;
	margin-bottom: 25px;

	font-size: 21px;
	line-height: 21px;
	text-align: center;
}

.feature-description p,
.advice-list p,
.features-item p {
	margin: 0 auto;
	margin-bottom: 20px;

	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	text-align: center;
}


.advice {
	padding-top: 71px;
} 



.advice-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-ms-flex-line-pack: center;
	    align-content: center;

	margin: 0;
	padding: 0;

	list-style: none;
}


.advice-item {
	position: relative;

	width: 255px;

	margin-bottom: 61px;
	padding-top: 90px;
}

.advice-item::before {
	content: "";

  	position: absolute;
  	left: 50%;
  	bottom: 127px;

  	margin-bottom: 10px;

  	background-color: #ffffff;
}

.advice-item:nth-child(1)::before {
	width: 75px;
  	height: 72px;

  	margin-left: -37.5px;
	
	background-color: #ffffff;
	background-image: url(../img/advice-1.svg);
}

.advice-item:nth-child(2)::before {
	width: 74px;
  	height: 70px;

  	margin-left: -37px;

	background-color: #ffffff;
	background-image: url(../img/advice-2.svg);
}

.advice-item:nth-child(3)::before {
	width: 64px;
  	height: 76px;

  	margin-left: -32px;

	background-color: #ffffff;
	background-image: url(../img/advice-3.svg);
}


.features {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;

	padding-top: 47px;

	color: #000000;

	background-color: #eeeeee;
}

.features-item {
	width: 270px;
	margin-bottom: 39px;
}

.search-hostels {
	padding-top: 50px;

	text-align: center;
}



.search-hotels-title {
	margin: 0;
	margin-bottom: 24px;
	padding: 0;

	font-size: 30px;
	line-height: 36px;
	text-align: center;	
}

.search-hotels-desc {
	margin: 0;
	margin-bottom: 47px;
	padding: 0;

	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	text-align: center;
}

.search-hostels-btn {
	width: 568px;
	padding: 30px;

	font: inherit;
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;

	background-color: #766357;
	border: none;
}

.search-hostels-btn:hover,
.search-hostels-btn:focus {
	background-color: #604e43;
}

.search-hostels-btn:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}


/* ---- форма поиска гостиницы */



.search-form {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;

	width: 568px;
	margin: 0 auto;
	padding-top: 55px;
	padding-bottom: 55px;

	color: #000000;
	text-align: left;

	background-color: #ffffff;
	-webkit-box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15);
	        box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15); 
}


.search-form-wrapper {
	position:relative;
	z-index: 1;
}



.search-form-open {
	-webkit-animation-name: movedown;
	        animation-name: movedown;
    -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}

@-webkit-keyframes movedown {
    0% {
        -webkit-transform: scaleY(0);
                transform: scaleY(0);
    }

    100% {
        -webkit-transform: scaleY(1);
                transform: scaleY(1);
    }
}

@keyframes movedown {
    0% {
        -webkit-transform: scaleY(0);
                transform: scaleY(0);
    }

    100% {
        -webkit-transform: scaleY(1);
                transform: scaleY(1);
    }
}


.search-form-close {
	-webkit-animation-name: moveup;
	        animation-name: moveup;
    -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}

@-webkit-keyframes moveup {
    to {
        -webkit-transform: scaleY(0);
                transform: scaleY(0);
    }
}

@keyframes moveup {
    to {
        -webkit-transform: scaleY(0);
                transform: scaleY(0);
    }
}

.calendar {
	position: absolute;
	right: 9px;
	top: 0;
	bottom: 0;

	margin: 0;
	padding: 0;

	background-color: transparent;
	border: none;

	fill: #a9a9a9;
}

.calendar:hover,
.calendar:focus {
	fill: #000000;
}

.calendar:active {
	fill: #81b3d1;
}


.search-form-container {
	width: 458px;
	margin: auto;
}

.search-form-container p {

	position: relative;

	display:-webkit-box;

	display:-ms-flexbox;

	display:flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	margin: 0;
	margin-bottom: 30px;
}


.search-form label {
	width: 100px;
	margin-right: 9px;
}

.search-form input {
	height: 38px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 4px 12px;
	padding-right: 40px;

	-webkit-box-flex: 1;

	    -ms-flex-positive: 1;

	        flex-grow: 1;

	font: inherit;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	text-transform: uppercase;

	background-color: #f2f2f2;
	border: 2px solid transparent;
}

.search-form input:hover {
	background-color: #ebebeb;
}

.search-form input:focus {
	background-color: #ffffff;
	border-color: #e5e5e5;
}

.search-form-people {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;

	margin-bottom: 54px;
}


.search-form-man {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 50%;
}

.search-form-child {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 50%;
}

.search-form-child label{
	padding-left: 50px;
}

.search-form-people input {
	width: 38px;
	text-align: center;
	padding: 17px 0;
}

.people-number {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	width: 50%;
	height: 38px;
}

.people-number button {
	width: 38px;
	height: 38px;

	background-color: #f2f2f2;
	border: none;

	font: inherit;
	font-size: 26px;
	font-weight: bold;
	color: #a9a9a9;
}

.people-number button:hover,
.people-number button:focus {
	color: #000000;
}

.people-number button:active {
	color: #81b3d2;
}


.search-form-btn {
	width: 100%;
	padding: 16px 0;

	font: inherit;
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;

	background-color: #81b3d2;
	border: none;
}

.search-form-btn:hover,
.search-form-btn:focus {
	background-color: #669ec0;
}

.search-form-btn:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.map {
	font-size: 0;
	line-height: 0;

	background-color: #eeebe7;
}


.map iframe {
	position: absolute;
	border: 0;
}



/* ВНУТРЕННЯЯ СТРАНИЦА КАТАЛОГА */

.catalog-filter-container {
	padding: 27px 73px;
	padding-bottom: 10px;
	color: #ffffff;

	background-color: #4178a1;
	background-image: url("../img/filter-background.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}

.catalog-filter {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.filter-left-column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}


.catalog-filter fieldset {
	border: none;
	margin: 0;
	margin-right: 116px;
	padding: 0;

}

.catalog-filter fieldset:last-child {
	margin-right: 0;
}

.catalog-filter p {
	margin: 0;
	padding: 0;
	padding-bottom: 20px;
}

.catalog-filter legend {
	font-size: 16px;
	line-height: 21px;
	margin-bottom: 22px;
}

.catalog-filter-checkbox {
	position: relative;

	padding-left: 40px;

	font-size: 14px;
	line-height: 21px;
	font-weight: normal;

	cursor: pointer;
}

.catalog-filter-checkbox input[type="checkbox"] + .checkbox-indicator {
	position: absolute;
	top: -2px;
	left: 0;

	width: 23px;
	height: 23px;

	background-color: transparent;
	background-image: url("../img/checkbox-off.svg");
}

.catalog-filter-checkbox input[type="checkbox"]:disabled + .checkbox-indicator {
	background-image: url("../img/checkbox-off-disabled.svg");
}

.catalog-filter-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
}


.catalog-filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
	width: 26px;

	background-image: url("../img/checkbox-on.svg");
}

.catalog-filter-checkbox input[type="checkbox"]:checked:disabled + .checkbox-indicator {
	background-image: url("../img/checkbox-on-disabled.svg");
}

/* ФИЛЬТР СТОИМОСТИ */

.filter-range-title {
	margin-bottom: 10px;

	font-size: 16px;
  	line-height: 21px;
  	font-weight: 600;
}

.price-controls {
	position: relative;

	height: 32px;
  	margin-bottom: 20px;

	font-size: 0;

	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls::after {
	content: "";
  	position: absolute;
  	top: 50%;
  	left: 50%;

  	width: 2px;
  	height: 22px;

  	-webkit-transform: translate(-50%, -50%);

  	    -ms-transform: translate(-50%, -50%);

  	        transform: translate(-50%, -50%);

  	background: #ffffff;
}

.price-controls label {
  	display: inline-block;
	padding: 5px 0;


 	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
  	vertical-align: top;

  	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  	width: 92px;
  	padding-left: 65px;
}

.price-controls input {
  	width: 50px;
  	margin: 0;

  	color: inherit;
  	font: inherit;

  	background: none;
  	border: none;
}

.range-controls {
  	position: relative;

  	margin-bottom: 32px;
}

.range-controls .scale {
  	height: 2px;

  	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  	width: 80%;
  	height: 2px;

  	background: #ffffff;
}

.range-toggle {
	position: absolute;
  	top: -9px;

  	width: 4px;
  	height: 4px;

  	background: #ababab;
  	border: 8px solid #ffffff;
	border-radius: 50%;
  	-webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  	        box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  	cursor: pointer;
}

.range-toggle-min {
  	left: 0;
}

.range-toggle-max {
  	left: 80%;
}

.range-toggle:hover {
  	border: 9px solid #ffffff;
}

.catalog-filter-btn {
	display: block;
  	margin: 0 auto;

	width: 137px;
	height:36px;

	color: #ffffff;
	font: inherit;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	text-transform: uppercase;

	background-color: transparent;
	border: 2px solid #ffffff;
}

.catalog-filter-btn:hover {
	color: #000000;

	background-color: #ffffff;
}

/* результаты поиска */

.search-results-item img {
	width: 135px;
	height: 90px;
}

.search-results-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 30px 73px;

	font-size: 12px;
	line-height: 18px;
	font-weight: normal;

	border-bottom: 1px solid #e5e5e5;
}

.search-results-wrapper img {
	margin-right: 30px;
}

.search-results-column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.search-results-head-column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}

.search-results-find {
	margin: 0;
	margin-right: 48px;
	padding: 0;

	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}


.search-results-wrapper ul {
	padding: 0;
	margin: 0;
	margin-left: 10px;

	color: #81b3d2;

	list-style: none;
}

.search-results-wrapper li {
	display: inline-block;
	margin-left: 30px;
}

.search-results-wrapper a[href] {
	color: rgba(0,0,0,0.3);
	border-bottom: 1px dotted #81b3d2;
}

.search-results-wrapper a:hover,
.search-results-wrapper a:focus {
	color: #81b3d2;
}

.search-results-wrapper a:active {
	color: #000000;
	border: none;
}

.search-results-item .search-results-wrapper a {
	color: #ffffff;
	font-size: 14px;
	line-height: 21px;
	margin-right: 2px;

	border: none;
}

.search-results-item .search-results-wrapper a:hover,
.search-results-wrapper .search-results-wrapper a:focus {
	color: #ffffff;
}

.search-results-item .search-results-wrapper a:active {
	color: rgba(255,255,255,0.3);
}

.search-results-sorting-order {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;

	width: 34px;

	padding-bottom: 5px;
}

.search-results-sorting-order button {
	margin: 0;
	padding: 0;

	border: none;
	background-color: transparent;
	fill: #cacaca;
}

.search-results-sorting-order button:nth-child(2) {
	fill: #81b3d2;
}

.search-results-sorting-order button:hover,
.search-results-sorting-order button:focus {
	fill: #231f20;
}

.search-results-sorting-order button:active {
	fill: #81b3d2;
}

.search-results-list {
	padding: 0;
	margin: 0;

	list-style: none;
}

.search-results-item-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.search-results-item-info-column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}


.search-results-item-info h3 {
	margin: 0;
	color: #000000;
	font-size: 21px;
	line-height: 15px;
}

.search-results-item-info h3:hover,
.search-results-item-info h3:focus {
	color: #81b3d2;
}

.search-results-item-info h3:active {
	opacity: 0.3;
}

.search-results-item-info span {
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;

	margin-right: 38px;
}

.search-results-item-info p {
	margin: 0;
	margin-bottom: 3px;
}

.search-results-more {
	margin-right: 4px;
}
.search-results-item-info-column a {
	display: block;
	padding: 3px 17px;
}

.search-results-item-info-column p {
	font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    margin-bottom: 14px;
}

.search-results-btn-more {
	background-color: #81b3d2;
}

.search-results-btn-more:hover,
.search-results-btn-more:focus {
	background-color: #669ec0;
}

.search-results-btn-more:active {
	background-color: #5496bd;
}

.search-results-btn-booking {
	color: #ffffff;

	background-color: #766357;
}

.search-results-btn-booking:hover,
.search-results-btn-booking:focus {
	background-color: #604e43;
}

.search-results-btn-booking:active {
	background-color: #503e33;
}


.search-results-item-rating {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;

	width: 110px;
}


.search-results-item-rating p {
	width: 100%;
	margin: 0;

	color: #000000;
	font-size: 14px;
	line-height: 21px;	
	font-weight: normal;
	text-align: center;

	background-color: #f2f2f2;

	padding: 5px 0;
}

p.search-results-item-stars {
	height: 19px;

	background-color: transparent;
	background-image: url("../img/star.svg");
	background-position: 0 0;
	background-repeat: repeat-x;
	fill: #81b3d2;
}

p.five-stars {
	width: 110px;
}

p.four-stars {
	width: 90px;
}

p.three-stars {
	width: 66px;
}

p.two-stars {
	width: 41px;
}

p.one-stars {
	width: 30px;
}



/* -----------ФУТЕР-------------------*/



.main-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	padding: 35px 100px;
}

.main-footer svg {
	pointer-events: none;
}

.footer-absolute {
	position: absolute;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	bottom: 0;

	width: 1200px;
	
	background-color: rgba(255,255,255,.9);
	padding: 35px 0px;
}


.main-footer-hashtag {
	width: 200px;

	font-size: 21px;
	line-height: 26px;
	text-align: center;
}

.social-media ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	width: 150px;

	padding: 0;
	padding: 0 25px;
	margin: 0px;
	list-style: none;
}

.social-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
  	-webkit-box-pack: center;
  	    -ms-flex-pack: center;
  	        justify-content: center;

	width: 46px;
	height: 48px;

	color: #000000;
	fill: #ffffff;

	background: #81b3d2;
}

.social-button:hover,
.social-button:focus {
	background: #669ec0;
}

.social-button:active {
	fill: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}


.footer-copyrite {
	width: 200px;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.footer-copyrite b {
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
}

.footer-copyrite a {
	fill: #000000;
}

.footer-copyrite a:hover,
.footer-copyrite a:focus {
	fill: #81b3d2;
}

.footer-copyrite a:active {
	fill:#bdbbbc;
}
