body {
	margin: 0;
	padding: 0;
	
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.body-index {
	background-image: url("../img/main-photo.jpg");
	background-position: center top;
	background-repeat: no-repeat;
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
 	clip: rect(0 0 0 0);
 	overflow: hidden;
}

.main-container {
	position: relative;
	
	width: 1200px;
	margin: 0 auto;
	padding: 0;

	box-shadow: 0 0 20px 0 rgba(0,0,0,.2)
}

.index {
	margin-bottom: 564px;
}

.header-nav {
	color: #000000;

	background: #ffffff;
}

.header-nav img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}


.main-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	margin: 0 6%;
	padding: 0;

	list-style: none;
}

.main-menu li {
	width: 20%;
	padding: 15px 0;
}

.main-menu .text-left {
	text-align: left;
}

.main-menu .text-right {
	text-align: right;
}

.main-menu li:nth-child(2) {
	margin-right: 119px;
}

.main-menu a {
	color: #000000;
}

.main-menu a:hover,
.main-menu a:focus {
	color: #81b3d2;
}

.main-menu a:active {
	opacity: 0.3;
}

.main-menu a:not([href]) {
	color: #766357;
}

.welcome-text {
	max-width: 576px;
	margin: 0 auto;
	margin-bottom: 55px;

	text-align: center;
}

.welcome-text p {
	font-size: 21px;
	line-height: 26px;
	margin: 0;
	margin-bottom: 27px;

}

.welcome-text span {
	font-weight: normal;
}

.feature {
	display: flex;
	justify-content: space-between;
	color: #ffffff;
	background-color: #81b3d2;
}

.feature img {
	widht: 800px;
	height: 256px;
}

.feature-description {
	max-width: 300px;
	margin: 0 auto;
	padding-top: 47px;
}


.feature-description h2,
.advice-list h3,
.features-item h3 {
	max-width: 160px;
	margin: 0 auto;
	margin-bottom: 25px;

	font-size: 21px;
	line-height: 21px;
	text-align: center;
}

.feature-description p,
.advice-list p,
.features-item p {
	margin: 0 auto;
	margin-bottom: 20px;

	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	text-align: center;
}


.advice {
	padding-top: 71px;
} 



.advice-list {
	display: flex;
	justify-content: space-around;
	align-content: center;

	margin: 0;
	padding: 0;

	list-style: none;
}


.advice-item {
	position: relative;

	width: 255px;

	margin-bottom: 61px;
	padding-top: 90px;
}

.advice-item::before {
	content: "";

  	position: absolute;
  	left: 50%;
  	bottom: 127px;

  	margin-bottom: 10px;

  	background-color: #ffffff;
}

.advice-item:nth-child(1)::before {
	width: 75px;
  	height: 72px;

  	margin-left: -37.5px;

	background-image: url(../img/advice-1.svg);
}

.advice-item:nth-child(2)::before {
	width: 74px;
  	height: 70px;

  	margin-left: -37px;

	background-image: url(../img/advice-2.svg);
}

.advice-item:nth-child(3)::before {
	width: 64px;
  	height: 76px;

  	margin-left: -32px;

	background-image: url(../img/advice-3.svg);
}


.features {
	display: flex;
	justify-content: space-around;

	padding-top: 47px;

	color: #000000;

	background-color: #eeeeee;
}

.features-item {
	width: 270px;
	margin-bottom: 39px;
}

.search-hostels {
	text-align: center;
}

.search-hotels-title {
	font-size: 30px;
	line-height: 36px;
	text-align: center;	
}

.search-hotels-desc {
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	text-align: center;
}

.search-hostels-btn {
	width: 568px;
	padding: 30px;

	font: inherit;
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;

	background-color: #766357;
	border: none;
}

.search-hostels-btn:hover,
.search-hostels-btn:focus {
	background-color: #604e43;
}

.search-hostels-btn:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}


/* ---- форма поиска гостиницы */

.search-form {
	position: absolute;
	left: 0;
	right: 0;

	width: 568px;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 55px;

	color: #000000;
	text-align: left;

	background-color: #ffffff;
	box-shadow: 7px 0 15px rgba(0,0,0,0.15);
}


.search-form-container {

	width: 458px;
	margin: auto;
}

.search-form-container p {
	display:flex;
	justify-content: space-between;
}

.search-form label {
	min-width: 112px;
}

.search-form input {
	box-sizing: border-box;
	padding: 5px 12px;
	padding-right: 40px;

	flex-grow: 1;

	font: inherit;
	font-size: 14px;
	line-height: 26px;
	color: #000000;

	background-color: #f2f2f2;
	border: none;
}

.search-form input:hover {
	background-color: #ebebeb;
}

.search-form input:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}

.search-form-btn {
	width: 100%;

	font: inherit;
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;

	background-color: #81b3d2;
	border: none;
}

.search-form-btn:hover,
.search-form-btn:focus {
	background-color: #669ec0;
}

.search-form-btn:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}



/* ВНУТРЕННЯЯ СТРАНИЦА КАТАЛОГА */

.catalog-filter-container {
	padding: 27px 73px;
	padding-bottom: 10px;
	color: #ffffff;

	background-color: #4178a1;
	background-image: url("../img/filter-background.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}

.catalog-filter {
	display: flex;
	justify-content: space-between;
}

.filter-left-column {
	display: flex;
}


.catalog-filter fieldset {
	border: none;
	margin: 0;
	margin-right: 116px;
	padding: 0;

}

.catalog-filter fieldset:last-child {
	margin-right: 0;
}

.catalog-filter p {
	margin: 0;
	padding: 0;
	padding-bottom: 20px;
}

.catalog-filter legend {
	font-size: 16px;
	line-height: 21px;
	margin-bottom: 22px;
}

.catalog-filter-checkbox {
	position: relative;

	padding-left: 40px;

	font-size: 14px;
	line-height: 21px;
	font-weight: normal;

	cursor: pointer;
}

.catalog-filter-checkbox input[type="checkbox"] + .checkbox-indicator {
	position: absolute;
	top: -2px;
	left: 0;

	width: 23px;
	height: 23px;

	background-color: transparent;
	background-image: url("../img/checkbox-off.svg");
}

.catalog-filter-checkbox input[type="checkbox"]:disabled + .checkbox-indicator {
	background-image: url("../img/checkbox-off-disabled.svg");
}

.catalog-filter-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
}


.catalog-filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
	width: 26px;

	background-image: url("../img/checkbox-on.svg");
}

.catalog-filter-checkbox input[type="checkbox"]:checked:disabled + .checkbox-indicator {
	background-image: url("../img/checkbox-on-disabled.svg");
}

/* ФИЛЬТР СТОИМОСТИ */

.filter-range-title {
	margin-bottom: 10px;

	font-size: 16px;
  	line-height: 21px;
  	font-weight: 600;
}

.price-controls {
	position: relative;

	height: 32px;
  	margin-bottom: 20px;

	font-size: 0;

	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls::after {
	content: "";
  	position: absolute;
  	top: 50%;
  	left: 50%;

  	width: 2px;
  	height: 22px;

  	transform: translate(-50%, -50%);

  	background: #ffffff;
}

.price-controls label {
  	display: inline-block;
	padding: 5px 0;


 	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
  	vertical-align: top;

  	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  	width: 92px;
  	padding-left: 65px;
}

.price-controls input {
  	width: 50px;
  	margin: 0;

  	color: inherit;
  	font: inherit;

  	background: none;
  	border: none;
}

.range-controls {
  	position: relative;

  	margin-bottom: 32px;
}

.range-controls .scale {
  	height: 2px;

  	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  	width: 80%;
  	height: 2px;

  	background: #ffffff;
}

.range-toggle {
	position: absolute;
  	top: -9px;

  	width: 4px;
  	height: 4px;

  	background: #ababab;
  	border: 8px solid #ffffff;
	border-radius: 50%;
  	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  	cursor: pointer;
}

.range-toggle-min {
  	left: 0;
}

.range-toggle-max {
  	left: 80%;
}

.range-toggle:hover {
  	border: 9px solid #ffffff;
}

.catalog-filter-btn {
	display: block;
  	margin: 0 auto;

	width: 137px;
	height:36px;

	color: #ffffff;
	font: inherit;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	text-transform: uppercase;

	background-color: transparent;
	border: 2px solid #ffffff;
}

.catalog-filter-btn:hover {
	color: #000000;

	background-color: #ffffff;
}

/* результаты поиска */

.search-results-item img {
	width: 135px;
	height: 90px;
}

.search-results-wrapper {
	display: flex;
	justify-content: space-between;
	padding: 30px 73px;

	font-size: 12px;
	line-height: 18px;
	font-weight: normal;

	border-bottom: 1px solid #e5e5e5;
}

.search-results-wrapper img {
	margin-right: 30px;
}

.search-results-column {
	display: flex;
}

.search-results-head-column {
	display: flex;
	align-items: flex-end;
}

.search-results-find {
	margin: 0;
	margin-right: 52px;
	padding: 0;

	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}


.search-results-wrapper ul {
	padding: 0;
	margin: 0;
	margin-left: 10px;

	color: #81b3d2;

	list-style: none;
}

.search-results-wrapper li {
	display: inline-block;
	margin-left: 28px;
}

.search-results-wrapper a[href] {
	color: rgba(0,0,0,0.3);
	border-bottom: 1px dotted #81b3d2;
}

.search-results-wrapper a:hover,
.search-results-wrapper a:focus {
	color: #81b3d2;
}

.search-results-wrapper a:active {
	color: #000000;
	border: none;
}

.search-results-item .search-results-wrapper a {
	color: #ffffff;
	font-size: 14px;
	line-height: 21px;
	margin-right: 2px;

	border: none;
}

.search-results-item .search-results-wrapper a:hover,
.search-results-wrapper .search-results-wrapper a:focus {
	color: #ffffff;
}

.search-results-item .search-results-wrapper a:active {
	color: rgba(255,255,255,0.3);
}

.search-results-sorting-order {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	width: 35px;
}

.search-results-sorting-order button {
	margin: 0;
	padding: 0;

	border: none;
	background-color: transparent;
	fill: #cacaca;
}

.search-results-sorting-order button:nth-child(2) {
	fill: #81b3d2;
}

.search-results-sorting-order button:hover,
.search-results-sorting-order button:focus {
	fill: #231f20;
}

.search-results-sorting-order button:active {
	fill: #81b3d2;
}

.search-results-list {
	padding: 0;
	margin: 0;

	list-style: none;
}

.search-results-item-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


.search-results-item-info h3 {
	margin: 0;
	color: #000000;
	font-size: 21px;
	line-height: 21px;
}

.search-results-item-info h3:hover,
.search-results-item-info h3:focus {
	color: #81b3d2;
}

.search-results-item-info h3:active {
	opacity: 0.3;
}

.search-results-item-info span {
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;

	margin-right: 38px;
}

.search-results-item-info p {
	margin: 0;
	margin-bottom: 3px;
}

.search-results-btn a {
	padding: 5px 17px;
}

.search-results-btn-more {
	background-color: #81b3d2;
}

.search-results-btn-more:hover,
.search-results-btn-more:focus {
	background-color: #669ec0;
}

.search-results-btn-more:active {
	background-color: #5496bd;
}

.search-results-btn-booking {
	color: #ffffff;

	background-color: #766357;
}

.search-results-btn-booking:hover,
.search-results-btn-booking:focus {
	background-color: #604e43;
}

.search-results-btn-booking:active {
	background-color: #503e33;
}


.search-results-item-rating {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	padding-top: 4px;
	padding-bottom: 2px;

	width: 110px;
}


.search-results-item-rating p {
	width: 100%;
	margin: 0;

	color: #000000;
	font-size: 14px;
	line-height: 21px;	
	font-weight: normal;
	text-align: center;

	background-color: #f2f2f2;

	padding: 5px 0;
}

p.search-results-item-stars {
	height: 17px;

	background-color: transparent;
	background-image: url("../img/star.svg");
	background-position: 0 0;
	background-repeat: repeat-x;
	fill: #81b3d2;
}

p.five-stars {
	width: 100px;
}

p.four-stars {
	width: 80px;
}

p.three-stars {
	width: 60px;
}

p.two-stars {
	width: 40px;
}

p.one-stars {
	width: 20px;
}



/* -----------ФУТЕР-------------------*/



.main-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 35px 100px;
}

.footer-absolute {
	position: absolute;
	justify-content: space-around;
	bottom: 0;

	width: 1200px;
	
	background-color: rgba(255,255,255,.9);
	padding: 35px 0px;
}


.main-footer-hashtag {
	width: 200px;

	font-size: 21px;
	line-height: 26px;
	text-align: center;
}

.social-media ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 150px;

	padding: 0;
	margin: 0px;
	list-style: none;
}

.social-button {
	display: flex;
	align-items: center;
  	justify-content: center;

	width: 46px;
	height: 48px;

	color: #000000;
	fill: #ffffff;

	background: #81b3d2;
}

.social-button:hover,
.social-button:focus {
	background: #669ec0;
}

.social-button:active {
	fill: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}


.footer-copyrite {
	width: 200px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer-copyrite b {
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
}

.footer-copyrite a {
	fill: #000000;
}

.footer-copyrite a:hover,
.footer-copyrite a:focus {
	fill: #81b3d2;
}

.footer-copyrite a:active {
	fill:#bdbbbc; 
}