body {
	margin: 0;
	padding: 0;
	
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-container {
	width: 1200px;
	margin: 0 auto;
	padding: 0;
}


.main-img {
	color: #ffffff;

	height: 564px;

	background: #384f66;
	background-image: url("../img/main-photo.jpg");
	background-position: center top;
	background-repeat: no-repeat;
}

.header-nav {
	color: #000000;

	background: #ffffff;
}

.header-nav img {
	position: absolute;
	left: 50%;
	margin-left: -69px;
	z-index: 999;
}

.main-menu {
	display: flex;
	justify-content: space-between;
	margin: 0 6%;
	padding: 0;
	list-style: none;
}

.text-container {
	margin: 0 auto;
}

.main-menu li {
	width: 20%;
}

.main-menu li:nth-child(1),
.main-menu li:nth-child(2) {
	text-align: left;
}

.main-menu li:nth-child(3),
.main-menu li:nth-child(4) {
	text-align: right;
}


.main-menu a {
	padding: 8px 10px;

	color: #000000;
}

.main-menu a:hover,
.main-menu a:focus {
	color: #81b3d2;
}

.main-menu a:active {
	opacity: 0.3;
}

.main-menu-active {
	color: #766357;
}

.what-is-sedona {
	font-size: 21px;
	line-height: 26px;
	text-align: center;

}

.what-is-sedona-descr {
	font-weight: normal;
	text-align: center;
}

.feature {
	display: flex;
	justify-content: space-between;
	color: #ffffff;

	background-color: #81b3d2;
}

.feature-description {
	width: 310px;
	margin: auto;
}


.feature-description h2,
.advice-list h3,
.features-item h3 {
	font-size: 21px;
	line-height: 21px;
	text-align: center;
}

.feature-description p,
.advice-list p,
.features-item p {
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	text-align: center;
}

.advice {
	padding-top: 60px;
} 

.advice-list {
	display: flex;
	justify-content: space-around;
	align-content: center;

	margin: 0;
	padding: 0;

	list-style: none;
}

.advice-item {
	width: 255px;

	margin-bottom: 70px;
	padding-top: 80px;

}

.features {
	display: flex;
	justify-content: space-around;

	padding-top: 25px;

	color: #000000;

	background-color: #eeeeee;
}

.features-item {
	width: 270px;
	margin-bottom: 45px;
}

.search-hostels {
	text-align: center;
}

.search-hotels-title {
	font-size: 30px;
	line-height: 36px;
	text-align: center;	
}

.search-hotels-desc {
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	text-align: center;
}

.search-hostels-btn {
	font: inherit;
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;

	background-color: #766357;
	border: none;
}

.search-hostels-btn:hover,
.search-hostels-btn:focus {
	background-color: #604e43;
}

.search-hostels-btn:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.search-form {
	width: 568px;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 55px;

	color: #000000;
	text-align: left;

	background-color: #ffffff;
	box-shadow: 7px 0 15px rgba(0,0,0,0.15);
}


.search-form-container {

	width: 458px;
	margin: auto;
}

.search-form input {
	font: inherit;
	font-size: 14px;
	line-height: 26px;
	color: #000000;

	background-color: #f2f2f2;
	border: none;
}

.search-form input:hover {
	background-color: #ebebeb;
}

.search-form input:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}

.search-form-btn {
	width: 100%;

	font: inherit;
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;

	background-color: #81b3d2;
	border: none;
}

.search-form-btn:hover,
.search-form-btn:focus {
	background-color: #669ec0;
}

.search-form-btn:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}



/* для страницы каталога*/

.catalog-filter-container {
	padding: 31px 73px;

	color: #ffffff;

	background-color: #4178a1;
	background-image: url("../img/filter-background.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}

.catalog-filter {
	display: flex;
}


.catalog-filter fieldset {
	border: none;
}

.catalog-filter fieldset:nth-child(2) {
	flex-grow: 1;
}

.catalog-filter legend {
	font-size: 16px;
	line-height: 21px;
}

.catalog-filter label {
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
}

.price-number {
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;

	border: 2px solid #ffffff;
}

.price-number p {
	display: inline-block;
}

.catalog-filter-btn {
	width: 133px;
	height:32px;

	color: #ffffff;
	font: inherit;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	text-transform: uppercase;

	background-color: transparent;
	border: 2px solid #ffffff;
}

.catalog-filter-btn:hover {
	color: #000000;

	background-color: #ffffff;
}

.search-results-wrapper {
	display: flex;
	padding: 30px 73px;

	font-size: 12px;
	line-height: 18px;
	font-weight: normal;

	border-bottom: 1px solid #e5e5e5;
}

.search-results-wrapper img {
	margin-right: 30px;
}

.search-results-find {
	margin: 0;
	margin-right: 50px;
	padding: 0;

	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}


.search-results-wrapper ul {
	flex-grow:1;

	padding: 0;
	margin: 0;

	color: #81b3d2;

	list-style: none;
}

.search-results-wrapper li {
	display: inline-block;
	margin-left: 36px;
}

.search-results-wrapper a {
	color: rgba(0,0,0,0.3);
	border-bottom: 1px dotted #81b3d2;
}

.search-results-wrapper a:hover,
.search-results-wrapper a:focus {
	color: #81b3d2;
}

.search-results-wrapper a:active {
	color: #000000;
	border: none;
}


.search-results-sorting-order button {
	font-size:0;

	border: none;
	background-color: transparent;
	fill: #cacaca;
}

.search-results-sorting-order button:nth-child(2) {
	fill: #81b3d2;
}

.search-results-sorting-order button:hover,
.search-results-sorting-order button:focus {
	fill: #231f20;
}

.search-results-sorting-order button:active {
	fill: #81b3d2;
}

.search-results-list {
	padding: 0;
	margin: 0;

	list-style: none;
}

.search-results-item-info {
	flex-grow: 1;
}


.search-results-item-info h3 {
	margin: 0;
	color: #000000;
	font-size: 21px;
	line-height: 26px;
}

.search-results-item-info h3:hover,
.search-results-item-info h3:focus {
	color: #81b3d2;
}

.search-results-item-info h3:active {
	opacity: 0.3;
}

.search-results-item-info span {
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;

	margin-right: 38px;
}

.search-results-btn a {
	color: #ffffff;
	font-size: 14px;
	line-height: 21px;

	padding: 5px 20px;
}

.search-results-btn-more {
	background-color: #81b3d2;
}

.search-results-btn-more:hover,
.search-results-btn-more:focus {
	background-color: #669ec0;
}

.search-results-btn-more:active {
	color: rgba(255,255,255,0.3);
	background-color: #5496bd;
}

.search-results-btn-booking {
	background-color: #766357;
}

.search-results-btn-booking:hover,
.search-results-btn-booking:focus {
	background-color: #604e43;
}

.search-results-btn-booking:active {
	color: rgba(255,255,255,0.3);
	background-color: #503e33;
}

.search-results-item-stars {
	fill: #81b3d2;
}

.search-results-item-rating p {
	color: #000000;
	font-size: 14px;
	line-height: 21px;	
	font-weight: normal;
	text-align: center;

	background-color: #f2f2f2;

	width: 110px;
	padding: 5px 0;
}



/* -----------футер-------------------*/

.main-footer {
	padding: 36px 100px;
}

.footer-container {
	display: flex;
	justify-content: space-between;
}


.main-footer-hashtag {
	padding: 7px 30px;

	font-size: 21px;
	line-height: 26px;
	text-align: center;
}

.social-icon {
	padding: 0;
	margin: 0px;

	list-style: none;
}

.social-icon li {
	display: inline-block;
	margin-right: 6px;
}

.social-media {
	text-align: center;
}

.social-icon a {
	display: block;

	width: 46px;
	height: 48px;

	color: #000000;

	background-color: #81b3d2;
}

.footer-copyrite {

	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	text-align: center;
}

.footer-copyrite a {
	fill: #000000;
}

.footer-copyrite a:hover,
.footer-copyrite a:focus {
	fill: #81b3d2;
}

.footer-copyrite a:active {
	fill:#bdbbbc; 
}